---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Lewisville Lawn Care - Home',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
   actions={[
//      {
//        variant: 'primary',
//        text: 'About Us',
//        href: '/',
//        target: '_blank',
//      },
//      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/sunset.jpg', alt: 'Beautiful Sunset' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Lewisville Lawn Care</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-bold">We provide our services with care so you don't have to.
        </span
      >
      <!-- <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs. -->
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  